_site
.sass-cache
.jekyll-metadata
.DS_Store
_site/*
xfooter.html
_includes/xfooter.html
assets/imgs/oi/*
_layouts/x*.html
/_posts/.2019-10-22-rajgad-pradakshina-2019.md.~undo-tree~
/_posts/.2022-12-26-rajgad-pradakshina-2022.md.~undo-tree~
/.README.md.~undo-tree~
