<!--- 
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class=""><a class="btn btn-default" "href="about/">About</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">People</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">Projects</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">Publications</a></li>
  <li role="presentation"><a class="btn btn-default" href="#">Contact</a></li>
</ul>
-->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left" href="/"><img src="/assets/imgs/168px_nl_logo.jpg" style="height:50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/about/">About<span class="sr-only">(current)</span></a></li>

        <!-- 
        {% for page in site.pages %}
        <li><a href="{{ page.url }}">{{ page.menuname }}</a></li>
        {% endfor %}
         ------>

        <!-- <li><a href="/about/">About</a></li> -->
        <li><a href="/activities/">Activities</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/people/">People</a></li>
        <li><a href="/contact/">Contact</a></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

